<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./output.css">
    <title>Document</title>
</head>
<body>
    <div class="heading-line-around mt-12">
    <h1>
        <span class="text-7xl text-coral">Log in</span>
    </h1>

    <!-- Login  -->

    <div class="flex justify-center items-center mt-14 z-10">
        <div class="pt-8 pl-12 bg-white mx-auto rounded-lg w-[420px] h-[350px]">
            <h3 class="font-bold text-5xl mb-8 text-gray-800">Log In </h3>
             
                        
              <input class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" type="" placeholder="username">
       
                      
             
              <input class="w-full content-center px-4 py-2 my-5 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" type="" placeholder="password">
        
            
            
    
       
              <button type="submit" class="w-full flex justify-center bg-mint text-white p-3  rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500">
                Log in
              </button>

            </div>
</div>
</body>
</html>